/* Imports */
@import "_fonts.scss";
@import "_reset.scss";

/* Styles */

html, body{
  min-height: 100%;
}

.main-wrapper{
  >section{
    min-height: 100vh;
  }
}

header{
  nav{
    &.navbar{
      margin-bottom: 0;
      &.navbar-default{
        background-color: transparent;
        border: 0;
        border-radius: 0;
        -webkit-transition:all .3s ease;
        -ms-transition:all .3s ease;
        transition:all .3s ease;
      }
    }
  }
  .navbar-nav{
    >li{
      padding: 35px 13px;
      >a{
        padding: 0;
        color:white !important;
        font-family: 'Helvetica Neue LT Std Roman';
        -webkit-transition:all .3s ease;
        -ms-transition:all .3s ease;
        transition:all .3s ease;
        &:active,
        &:focus{
          color:white;
        }
        @media (min-width: 992px){
          &:hover{
            opacity: .9;
            color:white;
          }
        }
      }
    }
  }
  .fix-nav{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #313944 !important;
    .navbar-header,
    .navbar-collapse{
      display: inline-block !important;
      float: none !important;
      vertical-align: top;
    }
    .navbar-brand{
      img{
        width: 145px;
      }
    }
    .navbar-nav{
      margin: 0 auto;
      float: none;
      display: inline-block;
      >li{
        padding: 7px 13px 1px;
        &.logo-link{
          padding: 17px 62px 18px;
          a{
            line-height: 1;
          }
        }
        >a{
          line-height: 52px;
        }
      }
    }
  }
}

.static-header{
  .navbar-header,
  .navbar-collapse{
    display: inline-block !important;
    float: none !important;
    vertical-align: top;
  }
  .navbar{
    background-color: #313944 !important;
    text-align: center;
    .navbar-brand{
      img{
        width: 145px;
      }
    }
  }
  .navbar-nav{
    position: relative;
    background-color: transparent !important;
    margin: 0 auto;
    float: none;
    display: inline-block;
    >li{
      padding: 7px 13px 1px;
      &.logo-link{
        padding: 17px 62px 18px;
        a{
          line-height: 1;
        }
      }
      >a{
        line-height: 52px;
      }
    }
  }
}

section{
  h2.sect-title{
    font-family: 'Helvetica Neue LT Std Lt';
    font-size: 44px;
    color:#686868;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
  }
  p.sub-title{
    text-transform: uppercase;
    font-family: 'Helvetica Neue LT Std Th';
    font-size: 18px;
    color:white;
    text-align: center;
  }
  .block-wrap{
    width: 1005px;
    margin: 0 auto;
    padding-top: 70px;
    @media (max-width: 1050px){
      width: 100%;
    }
  }
  .industry-wrap{
    width: 1286px;
    margin: 0 auto;
    padding-top: 100px;
    @media (max-width: 1286px){
      width: 100%;
    }
  }
  .price-page-wrap{
    width: 992px;
    margin: 0 auto;
    @media (max-width: 992px){
      width: 100%;
    }
  }
  &.head-section{
    background: url('../images/head-bg-img.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    .top-nav-wrap{
      position: absolute;
      z-index: -1;
      opacity: 0;
      top: 70%;
      margin-top: -63px;
      width: 100%;
      text-align: center;
      -webkit-transition: opacity .4s ease-in-out;
      -ms-transition: opacity .4s ease-in-out;
      transition: opacity .4s ease-in-out;
      ul.top-nav{
        margin: 0 0 0 -185px;
        padding: 0;
        min-height: 40px;
        &.top{
          margin-bottom: 27px;
          padding-right: 180px;
        }
        &.bottom{
        }
        li{
          display: inline-block;
          text-align: center;
          min-width: 200px;
          height: 40px;
          line-height: 40px;
          background: transparent;
          bottom: 0;
          position: relative;
          cursor: pointer;
          -webkit-transition: bottom .4s ease-in-out;
          -ms-transition: bottom .4s ease-in-out;
          transition: bottom .4s ease-in-out;
          a{
            height: 40px;
            color:white;
            text-decoration: none;
            font-family: 'Helvetica Neue LT Std Roman';
            font-size: 16px;
            width: 40px;
            min-width: 200px;
            border-radius: 30px;
            display: block;
            cursor: pointer;
            position: absolute;
            box-shadow: 0 0 8px rgba(255,255,255,.45);
            -webkit-transition:all .5s ease-in-out;
            -ms-transition:all .5s ease-in-out;
            transition:all .5s ease-in-out;
            line-height: 40px;
            @media (min-width: 992px){
              &:hover{
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
            >span{
              line-height: 44px;
              -webkit-transition:all .3s ease-in-out;
              -ms-transition:all .3s ease-in-out;
              transition:all .3s ease-in-out;
            }
          }
          &.blue {
            a{
              background: rgba(#479ffc,.8);
            }
          }
          &.purple {
            margin: 0 24px 0 14px;
            a{
              background: rgba(#dbb0f5,.8);
              top: -56px;
            }
          }
          &.aqua {
            a{
              background: rgba(#7aefd6,.8);
              top: -18px;
            }
          }
          &.red {
            a{
              background: rgba(#ff8885,.8);
            }
          }
          &.gold {
            margin: 0 93px 0 49px;
            a{
              background: rgba(#ffd28c,.8);
              top: -22px;
            }
          }
          &.last {
            a{
              top: -12px;
            }
          }
        }
      }
      &.showBlock{
        opacity: 1;
        z-index: 1;
      }
      &.showText{
        ul.top-nav{
          li{
            a{
              >span{
                position: absolute;
                opacity: 0;
              }
            }
          }
        }
      }
      &.hideBlock{
        ul.top-nav{
          li{
            bottom: -40px;
            a{
              min-width: 48px;
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
    h2{
      font-family: 'Helvetica Neue LT Std Lt';
      font-size: 52px;
      color:white;
      text-transform: uppercase;
      position: absolute;
      bottom: 30px;
      width: 100%;
      margin: 0;
      line-height: 1;
      text-align: center;
    }
  }
  &.services-section{
    background: #ebf3f6;
    padding: 80px 0;
    .text-block{
      padding: 100px 40px 40px 50px;
      background-color: white;
      margin-bottom: 30px;
      position: relative;
      z-index: 50;
      cursor: pointer;
      min-height: 300px;
      box-shadow: 0 0 30px rgba(0,0,0,.15);
      -webkit-transition:all .3s ease-in-out;
      -ms-transition:all .3s ease-in-out;
      transition:all .3s ease-in-out;
      @media (max-width: 991px){
        h4.block-title{
          &:after{
            width: 65%;
          }
        }
      }
      @media (min-width: 992px){
        &:hover{
          box-shadow: 0 0 30px rgba(0,0,0,.35);
          h4.block-title{
            &:after{
              width: 65%;
            }
          }
        }
      }
      &.with-bg-lg{
        background-image: url('../images/service-bg-1.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        min-height:510px;
      }
      &.with-bg-sm{
        background-image: url('../images/service-bg-2.jpg');
        background-position: bottom right;
        background-repeat: no-repeat;
        min-height:510px;
      }
      .icon-wrap{
        width: 77px;
        height: 77px;
        line-height: 77px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        vertical-align: middle;
        &.purple{
          background: #dbb0f5;
        }
        &.aqua{
          background: #7aefd6;
        }
        &.red{
          background: #ff8885;
        }
        &.gold{
          background: #ffd28c;
        }
        >span{
          display: inline-block;
          background-image: url('../images/icon-sprite.png');
          background-position: 0 0;
          background-repeat: no-repeat;
          vertical-align: middle;
          &.laptop{
            width: 39px;
            height: 26px;
          }
          &.user{
            width: 39px;
            height: 34px;
            background-position: -78px 0;
          }
          &.puzzle{
            width: 38px;
            height: 36px;
            background-position: -41px 0;
          }
          &.mobile{
            width: 21px;
            height: 37px;
            background-position: -117px 0;
          }
        }
      }
      h4.block-title{
        font-family: 'Helvetica Neue LT Std Roman';
        font-size: 25px;
        color:#686868;
        text-transform: uppercase;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          display: block;
          top: 100%;
          left: 0;
          width: 0;
          height: 1px;
          background: #a3a3a3;
          -webkit-transition:all .4s ease-in-out;
          -ms-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
        }
      }
      p{
        font-size: 18px;
        color:#686868;
        line-height: 1.3;
      }
    }
  }
  &.eld-section{
    background: #ebf3f6;
    padding: 80px 0;
    .dev-wrap{
      box-shadow: 0 0 20px rgba(0,0,0,.4);
      .dev-row{
        position: relative;
        width: 100%;
        height: 380px;
        margin-bottom: 5px;
        &:after{
          content: '';
          display: table;
          clear: both;
        }
        &:last-child{
          margin-bottom: 0;
        }
        img{
          max-width: 100%;
        }
        &>*{
          &:first-child{
            float: left;
            text-align: left;
            h4.bottom-title{
              left: 0;
            }
          }
          &:last-child{
            float: right;
            text-align: right;
            h4.bottom-title{
              right: 0;
            }
          }
        }
        .dev-narrow{
          width: 31.65%;
        }
        .dev-block{
          width: 67.87%;
          position: relative;
          z-index: 10;
          overflow: hidden;
          &:hover{
            .dev-text-wrap{
              top: 0;
            }
            h4.bottom-title{
              bottom: -50px;
            }
          }
          h4.bottom-title{
            font-family: 'Helvetica Neue LT Std Roman';
            font-size: 25px;
            color:white;
            text-transform: uppercase;
            line-height: 1;
            position: absolute;
            bottom: 0;
            display: block;
            z-index: 20;
            padding: 16px 15px 9px;
            margin: 0;
            -webkit-transition:all .4s ease-in-out;
            -ms-transition:all .4s ease-in-out;
            transition:all .4s ease-in-out;
            &.blue{
              background: rgba(#479ffc,.8);
            }
            &.purple{
              background: rgba(#dbb0f5,.8);
            }
            &.aqua{
              background: rgba(#7aefd6,.8);
            }
            &.red{
              background: rgba(#ff8885,.8);
            }
          }
          .dev-text-wrap{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            z-index: 500;
            background: rgba(49,57,68,0.8);
            line-height: 380px;
            text-align: center;
            -webkit-transition:all .4s ease-in-out;
            -ms-transition:all .4s ease-in-out;
            transition:all .4s ease-in-out;
          }
          .dev-text{
            width: 70%;
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            h4.dev-title{
              font-family: 'Helvetica Neue LT Std Roman';
              font-size: 25px;
              color:white;
              margin-top: 0;
              position: relative;
              margin-bottom: 15px;
              padding-bottom: 10px;
              text-transform: uppercase;
              &:after{
                position: absolute;
                content: '';
                display: block;
                top: 100%;
                left: 0;
                width: 60px;
                height: 1px;
                background: #727981;
              }
            }
            p{
              font-family: 'Helvetica Neue LT Std Th';
              font-size: 18px;
              line-height: 1.4;
              color:white;
            }
          }
        }
      }
    }
  }
  &.id-section,
  &.ilt-section{
    padding-bottom: 80px;
    .design-wrap{
      background: #fff;
      padding: 55px 50px;
      box-shadow: 0 0 20px rgba(0,0,0,.4);
      h2.sect-title{
        margin-top: 0;
      }
      h5{
        font-family: 'Helvetica Neue LT Std Roman';
        font-size: 25px;
        color:#686868;
        text-transform: uppercase;
        margin: 40px 0;
      }
      p{
        font-family: 'Helvetica Neue LT Std Th';
        font-size: 18px;
        color:#686868;
        line-height: 1.4;
      }
    }
  }
  &.id-section{
    background: #abd1d4 url('../images/design-bg.jpg') bottom center no-repeat;
  }
  &.ilt-section{
    background: #abd1d4 url('../images/ilt-bg.jpg') bottom center no-repeat;
  }
  &.mobile-learn-section{
    background: #ebf3f6;
    padding: 80px 0;
    .mobile-wrap{
      margin-right: -4px;
      margin-left: -4px;
      display: table;
      .mobile-block-wrap{
        padding: 0 4px;
        width: 25%;
        display: table-cell;
      }
      .mobile-block{
        box-shadow: 0 0 15px rgba(0,0,0,.3);
        -webkit-transition:all .2s ease-in-out;
        -ms-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        @media (min-width: 992px){
          &:hover{
            box-shadow: 0 0 15px rgba(0,0,0,.5);
            p.ttl{
              &:after{
                width: 100%;
              }
            }
          }
        }
        @media (max-width: 991px){
          p.ttl{
            &:after{
              width: 100%;
            }
          }
        }
        .img-wrap{
          // height: 190px;
          // width: 100%;
        }
        .txt-wrap{
          padding: 15px;
          background: #fff;
          min-height: 285px;
        }
        p{
          font-family: 'Helvetica Neue LT Std Th';
          font-size: 16px;
          color:#676767;
          line-height: 1.4;
          &.ttl{
            font-family: 'Helvetica Neue LT Std Lt';
            text-transform: uppercase;
            font-size: 18px;
            margin-bottom: 20px;
            margin-top: 10px;
            padding-bottom: 10px;
            position: relative;
            display: block;
            &:after{
              position: absolute;
              content: '';
              display: block;
              top: 100%;
              left: 0;
              width: 0;
              height: 1px;
              background: #a3a3a3;
              -webkit-transition:all .4s ease-in-out;
              -ms-transition:all .4s ease-in-out;
              transition:all .4s ease-in-out;
            }
          }
        }
      }
    }
  }
  &.contact-section{
    background: url('../images/contact-bg.jpg') center no-repeat;
    background-size: cover;
    padding: 80px 0;
    .contact-wrap{
      h2.sect-title{
        color:white;
        line-height: 1.2;
        margin-bottom: 20px;
      }
      .form-wrap{
        padding-top: 70px;
      }
    }
  }
  &.industries-section{
    background: #fff;
    padding: 80px 0;
    .industry-block{
      padding-bottom: 70px;
      &:last-child{
        padding-bottom: 0;
      }
      .icon-wrap{
        float: left;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        vertical-align: middle;
        &.purple{
          background: #dbb0f5;
        }
        &.aqua{
          background: #7aefd6;
        }
        &.red{
          background: #ff8885;
        }
        &.gold{
          background: #ffd28c;
        }
        >span{
          display: inline-block;
          background-image: url('../images/icon-sprite.png');
          background-position: 0 0;
          background-repeat: no-repeat;
          vertical-align: middle;
          &.user{
            width: 27px;
            height: 26px;
            background-position: -33px -39px;
          }
          &.user-plus{
            width: 28px;
            height: 34px;
            background-position: 0 -31px;
          }
          &.group{
            width: 29px;
            height: 26px;
            background-position: -64px -39px;
          }
          &.setting{
            width: 29px;
            height: 30px;
            background-position: -97px -40px;
          }
        }
      }
      .txt-wrap{
        padding-left: 105px;
        h4{
          font-family: 'Helvetica Neue LT Std Roman';
          font-size: 18px;
          color:#676767;
          text-transform: uppercase;
          margin-top: 0;
        }
        p{
          font-family: 'Helvetica Neue LT Std Th';
          font-size: 18px;
          color:#686868;
          line-height: 1.3;
        }
      }
    }
  }
  &.blog-section{
    background: #ebf3f6;
    padding: 0 0 70px;
    .blog-layer{
      background: #fff;
      padding: 20px;
      box-shadow: 0 0 30px rgba(0,0,0,.15);
      text-align: left;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      img{
        width: 100%;
      }
      h3.blog-title{
        font-family: 'Helvetica Neue LT Std Roman';
        font-size: 25px;
        color:#686868;
        margin-top: 10px;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      p{
        font-family: 'Helvetica Neue LT Std Th';
        font-size: 18px;
        color:#686868;
        line-height: 1.3;
      }
      a.link{
        font-family: 'Helvetica Neue LT Std Th';
        font-size: 24px;
        color:#476e7c;
        text-decoration: underline;
        line-height: 1.5;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
  }
  &.price-page-section{
    background: #ebf3f6;
    padding: 70px 0;
    h2.sect-title{
      font-family: 'Helvetica Neue LT Std Lt';
      font-size: 44px;
      color:#686868;
      margin-bottom: 25px;
    }
    p.sub-title{
      font-family: 'Helvetica Neue LT Std Lt';
      font-size: 30px;
      color:#686868;
      text-transform: none;
    }
    .price-page-wrap{
      padding-top: 60px;
    }
    .price-page-inner{
      background: #fff;
      box-shadow: 0 0 15px rgba(0,0,0,.3);
      position: relative;
      .restart{
        position: absolute;
        top: 13px;
        right: 14px;
        font-family: 'Helvetica Neue LT Std Lt';
        font-size: 18px;
        color:#296c9b;
        text-align: center;
        cursor:pointer;
        span.restart-icon{
          background: url('../images/icon-sprite.png') -145px -79px no-repeat;
          display: block;
          width: 35px;
          height: 31px;
          margin:0 auto 14px;
        }
      }
    }
    .price-page-block{
      padding: 40px 50px 50px;
      >p{
        font-family: 'Helvetica Neue LT Std Lt';
        text-align: center;
        &.question{
          font-size: 35px;
          color:#686868;
          margin-bottom: 40px;
        }
        &.sub-q{
          font-size: 18px;
          color:#676767;
          margin-top: -35px;
          margin-bottom: 20px;
        }
        &.final-title{
          font-size: 26px;
          color:#686868;
          margin-top: 30px;
          margin-bottom: 40px;
          text-transform: uppercase;
        }
        &.final-sub{
          font-size: 26px;
          color:#686868;
          margin-bottom: 60px;
          line-height: 1.5;
        }
      }
      .icon-block{
        position: absolute;
        top: 0;
        left: 0;
        width: 77px;
        height: 77px;
        line-height: 77px;
        background: #ffd28c;
        text-align: center;
        vertical-align: middle;
        >span{
          display: inline-block;
          background-image: url('../images/icon-sprite.png');
          background-position: 0 0;
          background-repeat: no-repeat;
          vertical-align: middle;
          &.eye{
            width: 38px;
            height: 32px;
            background-position: 0 -69px;
          }
          &.voice{
            width: 42px;
            height: 36px;
            background-position: -42px -69px;
          }
          &.note{
            width: 36px;
            height: 42px;
            background-position: -140px 0;
          }
          &.clock{
            width: 35px;
            height: 34px;
            background-position: -130px -45px;
          }
          &.check{
            width: 33px;
            height: 33px;
            background-position: -89px -73px;
          }
        }
      }
      .contact-wrap{
        border-top:1px solid #e1e1e1;
        border-bottom:1px solid #e1e1e1;
        position: relative;
        .form-wrap{
          position: relative;
          .check-wrap{
            position: absolute;
            top: 45px;
            right: 30px;
            z-index: 999;
            width: 65px;
            height: 65px;
            background: url('../images/check-icon.png') center no-repeat;
          }
          &.checked{
            .check-wrap{
              display: block !important;
            }
          }
        }
      }
      .question-wrap{
        border-top:1px solid #e1e1e1;
        position: relative;
        min-height: 645px;
        .question-block{
          border-bottom:1px solid #e1e1e1;
          padding: 20px 0;
          @media (min-width: 992px){
            &:hover{
              .question-block-inner{
                box-shadow: 0 0 15px rgba(0,0,0,.3);
                transform: scale(1.05);
              }
            }
          }
          .question-block-inner{
            background: #fff;
            -webkit-transition:all .4s ease-in-out;
            -ms-transition:all .4s ease-in-out;
            transition:all .4s ease-in-out;
            display: table;
            width: 100%;
            cursor:pointer;
            position: relative;
            .check-wrap{
              position: absolute;
              top: 50%;
              right: 30px;
              margin-top: -32px;
              z-index: 999;
              width: 65px;
              height: 65px;
              background: url('../images/check-icon.png') center no-repeat;
            }
            &.checked{
              .check-wrap{
                display: block !important;
              }
            }
            .img-wrap,
            .text-wrap{
              display: table-cell;
              vertical-align: middle;
            }
            .img-wrap{
              width: 150px;
            }
            .text-wrap{
              padding: 5px 20px 5px 50px;
              p{
                font-family: 'Helvetica Neue LT Std Lt';
                font-size: 16px;
                color:#676767;
                text-transform: uppercase;
                margin-bottom: 0;
                line-height: 1.6;
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;
              }
            }
          }
        }
      }
    }
    .progress-wrap{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 11px;
      .progress{
        height: 18px;
        border-radius: 18px;
        margin-bottom: 9px;
        box-shadow: none;
        background: #fff;
        border:1px solid #7feed6;
        .progress-bar{
          background: #7feed6;
          box-shadow: none;
          border-radius: 18px;
          -webkit-transition:all .3s ease-in-out;
          -ms-transition:all .3s ease-in-out;
          transition:all .3s ease-in-out;
        }
      }
    }
    .contact-wrap{
      width: 100%;
      form{
        width: 650px;
        margin: 0 auto;
        box-shadow: 0 0 0 transparent;
        border-radius:0;
      }
    }
    .final-wrap{
      position: relative;
    }
    .final-row{
      position: relative;
      width: 100%;
      height: 380px;
      img{
        max-width: 100%;
      }
      &>*{
        &:first-child{
          float: left;
          text-align: left;
          h4.bottom-title{
            left: 0;
          }
        }
        &:last-child{
          float: right;
          text-align: right;
          h4.bottom-title{
            right: 0;
          }
        }
      }
      .final-narrow{
        width: 31.65%;
      }
      .final-block{
        width: 67.55%;
        position: relative;
        z-index: 10;
        overflow: hidden;
        &:hover{
          .final-text-wrap{
            top: 0;
          }
        }
        .final-text-wrap{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 100%;
          left: 0;
          z-index: 500;
          background: rgba(49,57,68,0.8);
          line-height: 380px;
          text-align: center;
          -webkit-transition:all .4s ease-in-out;
          -ms-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
        }
        .final-text{
          width: 70%;
          margin: 0 auto;
          display: inline-block;
          vertical-align: middle;
          text-align: left;
          h4{
            font-family: 'Helvetica Neue LT Std Roman';
            font-size: 25px;
            color:white;
            margin-top: 0;
            position: relative;
            margin-bottom: 25px;
            padding-bottom: 20px;
            text-transform: uppercase;
            &:after{
              position: absolute;
              content: '';
              display: block;
              top: 100%;
              left: 0;
              width: 60px;
              height: 1px;
              background: #727981;
            }
            &:last-child{
              margin-bottom: 0;
              &:after{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &.interactive-section{
    padding: 70px 0;
    background: #ebf3f6;
    .slide-wrap{
      .slide-inner{
        box-shadow: 0 0 30px rgba(0,0,0,.15);
        overflow: hidden;
        position: relative;
        .slide-block{
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          display: block;
          -webkit-transition:all .4s ease-in-out;
          -ms-transition:all .4s ease-in-out;
          transition:all .4s ease-in-out;
          &.active{
            z-index: 10;
          }
          img{
            width: 100%;
          }
          .slide-text{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px 17px;
            &.grey{
              background: rgba(#eeeeee,.8);
            }
            &.rose{
              background: rgba(#fff4f1,.8);
            }
            &.light-grey{
              background: rgba(#f7f6f6,.8);
            }
            &.light-aqua{
              background: rgba(#e5feff,.8);
            }
            &.light-green{
              background: rgba(#faffeb,.8);
            }
            &.light-purple{
              background: rgba(#e6edfb,.8);
            }
            h4{
              font-family: 'Helvetica Neue LT Std Roman';
              font-size: 25px;
              color:#686868;
              text-transform: uppercase;
              margin-top: 7px;
              margin-bottom: 7px;
            }
            p{
              font-family: 'Helvetica Neue LT Std Th';
              font-size: 18px;
              color:#686868;
              margin-bottom: 0;
              line-height: 1.2;
            }
          }
        }
      }
      .slide-link{
        padding-top: 45px;
        ul.link-list{
          width: 100%;
          text-align: center;
          margin-bottom: 100px;
          li{
            display: inline-block;
            padding: 7px 10px;
            a{
              font-family: 'Helvetica Neue LT Std Roman';
              font-size: 20px;
              color:#686868;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.contact-wrap{
  width: 650px;
  margin: 0 auto;
  form.contact-form{
    background: #fff;
    padding: 50px 75px;
    border-radius:5px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    .form-group{
      margin-bottom: 25px;
    }
    label{
      text-transform: uppercase;
      font-family: 'Helvetica Neue LT Std Lt';
      font-size: 12px;
      color:#686868;
    }
    .form-control{
      font-size: 16px;
      padding: 6px 18px;
      border-radius:3px;
      border-color: #d4d9e2;
      box-shadow: 0 0 0 transparent;
    }
    input.form-control{
      height: 48px;

    }
    textarea{
      max-width: 100%;
      min-width: 100%;
      min-height: 118px;
    }
    :-moz-placeholder,
    :-ms-input-placeholder,
    ::-moz-placeholder,
    ::-webkit-input-placeholder {
      color:#a9a9a9;
    }
    .captcha{
      font-size: 16px;
      padding: 18px;
      border-radius:3px;
      border: 1px solid #d4d9e2;
      margin-bottom: 25px;
    }
    .btn-contact{
      display: block;
      margin: 0 auto;
      background: #4cb8a1;
      height: 35px;
      border-radius: 30px;
      padding: 0 30px;
      line-height: 35px;
      cursor:pointer;
      color:#fff;
      font-size: 17px;
      font-family: 'Helvetica Neue LT Std Lt';
      -webkit-transition:all .3s ease-in-out;
      -ms-transition:all .3s ease-in-out;
      transition:all .3s ease-in-out;
      @media (min-width:992px){
        &:hover{
          box-shadow: 1px 1px 5px rgba(0,0,0,.4);
        }
      }
    }
  }
}


footer.footer{
  background: #ebf3f6;
  padding: 20px 0 40px;
  text-align: center;
  .container{
    width: 1000px;
  }
  nav.footer-nav{
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        padding: 8px;
        a{
          font-family: 'Helvetica Neue LT Std Roman';
          font-size: 16px;
          color:#5f5f5f;
        }
      }
    }
  }
  ul.dots{
    padding: 30px 0;
    li{
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #bac1c5;
      margin: 8px;
    }
  }
  p.copyright{
    font-family: 'Helvetica Neue LT Std Lt';
    font-size: 14px;
    color:#5f5f5f;
    margin: 0;
  }
}
